body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.test-p {
    color: white;
    cursor: pointer;
}

.main-game-div {
    position: relative;
    background: url('../images/home-bg.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-height: 1200px;
    background-color: rgba(61, 82, 213, .3);
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 25px;
    top: 0;
    left: 0;
    z-index: 15;
}

.rules-toggle,
.quit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease;
    position: relative;
}

.pow {
    width: 8vw;
    transition: .2s ease;
}

.pow:hover {
    transform: rotate(20deg)
}

.pow-text,
.quit-btn {
    position: absolute;
    margin-top: 10px;
    font-size: 1vw;
    text-decoration: none;
    color: black;
}


.game-rules-paragraph {
    font-size: 1.5vw;
}

.game-rules-inner-div {
    color: white;
    padding: 50px;
    margin: 0 auto;
    height: auto;
    min-height: 50%;
    width: 50%;
    background: rgb(90,143,191);
    background: linear-gradient(360deg, rgba(90,143,191,1) 2%, rgba(161,191,219,1) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.game-container {
    width: 100%;
    border-radius: 5px;
    position: relative;
    max-width: 1200px;
    min-height: 1000px;
    background-color: rgba(61, 82, 213, .8);
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.computer-field {
    padding: 20px;
    position: absolute;
    top: 2%;
    margin-left: 15px;
}

.deck-container {
    position: relative;
    min-height: 200px;
    min-width: 150px;
    max-height: 240px;
    max-width: 180px;
    height: 11vw;
    width: 8vw;
    margin-right: 15px;
}

#computer-deck,
#player-deck,
.computer-card {
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/card-bg.jpeg');
    background-position: center;
    background-size: cover;
    z-index: 5;
}

.undercard1 {
    position: absolute;
    transform: rotate(2deg);
    background-color: #333 !important;
    top: 0;
    z-index: 2;
}

.undercard2 {
    position: absolute !important;
    transform: rotate(-5deg);
    background-color: #333 !important;
    top: 0;
    z-index: 2;
}

.five-cards-div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 150px;
    max-height: 240px;
    max-width: 180px;
    height: 11vw;
    width: 8vw;
    margin-left: 10px;
    border: .5px solid white;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: .2s ease;
    border-radius: 2px;
}

.card-in-play,
#computer-card-in-play,
#player-card-in-play {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    min-width: 200px;
    max-height: 340px;
    max-width: 350px;
    height: 14vw;
    width: 10vw;
    border: .5px solid white;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 2px;
}

.card:hover {
    transform: scale(1.01);
}

.card.right {
    margin-left: 0;
    margin-right: 10px;
}

.character-name {
    color: black;
}

.dueling-field {
    display: flex;
    position: relative;
}

#tie {
    opacity: 0%;
    color: white;
    font-family: 'Bangers', cursive;
    letter-spacing: 5;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, 0);
    transition: .2s ease;
} 

.tie-animation {
    animation: tie 1s;
}

@keyframes tie {
    from {opacity: 0; transform: scale(1) rotate(0deg);}
    to {opacity: 100; transform: scale(2) rotate(2deg);}
}

.computer-score,
.player-score {
    color: white;
    font-size: 1.8vw;
    font-family: 'Bangers', cursive;
}

.computer-score-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:40%;
    left: -50%;
}

.player-score-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    right: -50%;
}

.computer-score.number {
    margin: 0 auto;
}

.player-score {
    
}

.computer-card-in-play {
    margin-top: -20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.player-card-in-play {
    margin-bottom: -20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.player-field {
    padding: 20px;
    position: absolute;
    bottom: 2%;
    margin-left: 15px;
}


.end-game-outer-div {
    height: 100vh;
    width: 100vw;
    background-color: rgba(2, 2, 2, .5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 10;
}

.end-game-paragraph {
    color: white;
    font-size: 1.8vw;
    text-align: center;
    margin-bottom: 50px;
}

.lose-game-inner-div,
.win-game-inner-div {
    margin: 50px auto;
    height: 80%;
    width: 50%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgb(90,143,191);
    background: linear-gradient(360deg, rgba(90,143,191,1) 2%, rgba(161,191,219,1) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.win-game-inner-div {
    background: url('../images/win-image.jpeg');
    background-position: center;
    background-size: cover;
}

.lose-game-inner-div {
    background: rgb(90,143,191);
    background-image: url('../images/lose-image.png');
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.end-screen-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 82, 213, .6);
}

.end-screen-header {
    color: white;
    z-index: 10;
    font-family: 'Bangers', cursive;
    font-size: 5vw;
    letter-spacing: 5px;
}

.end-screen-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 20px;
}

.end-screen-btn {
    text-align: center;
    margin-top: 0;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(186, 18, 0, .77);
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    min-width: 250px;
    outline: 0;
    border: none;
    transition: .5s ease;
    cursor: pointer;
}
    
.end-screen-btn:hover {
    background-color: rgba(186, 18, 0, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.02);
}
    
.play-card-banner{
    padding: 10px 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background: linear-gradient(180deg, rgb(36, 36, 184) 2%, rgb(17, 64, 108) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
}

.play-card-title {
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 1vw;
    letter-spacing: 1px;
}

.play-card-power {
    color: black;
    background: linear-gradient(180deg, rgb(227, 221, 45) 2%, rgb(208, 193, 25) 100%);
    font-size: 1.2vw;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.hidden-image-url {
    display: none;
}

.winning-card {
    animation: winningCard 1s; 
}

@keyframes winningCard {
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1.2) rotate(2deg);}
}
