body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.main-game-div {
    position: relative;
    background: url('../images/home-bg.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-height: 1200px;
    background-color: rgba(61, 82, 213, .3);
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 25px;
    top: 0;
    left: 0;
    z-index: 15;
}

.rules-toggle,
.quit-btn {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.rules-toggle:hover,
.quit-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.game-container {
    width: 100%;
    border-radius: 5px;
    position: relative;
    max-width: 1200px;
    min-height: 1000px;
    background-color: rgba(61, 82, 213, .7);
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.computer-field {
    padding: 20px;
    position: absolute;
    top: 2%;
    margin-left: 15px;
}

.deck-container {
    position: relative;
    min-height: 200px;
    min-width: 150px;
    max-height: 240px;
    max-width: 180px;
    height: 11vw;
    width: 8vw;
    margin-right: 15px;
}

#computer-deck,
#player-deck {
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    z-index: 5;
}

.undercard1 {
    position: absolute;
    transform: rotate(2deg);
    background-color: #333 !important;
    top: 0;
    z-index: 2;
}

.undercard2 {
    position: absolute;
    transform: rotate(-5deg);
    background-color: #333 !important;
    top: 0;
    z-index: 2;
}

.five-cards-div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 150px;
    max-height: 240px;
    max-width: 180px;
    height: 11vw;
    width: 8vw;
    background-color: cadetblue;
    margin-left: 10px;
    border: .5px solid white;
}

.card.right {
    margin-left: 0;
    margin-right: 10px;
}

.dueling-field {
    
    display: flex;
    position: relative;
}

.scoring-container {
    color: white;
    font-size: 24px;;
    position: absolute;
    right: -60%;
    top: 40%;
}

.computer-card-in-play {
    margin-top: -20px;
    margin-right: 20px;
}

.player-card-in-play {
    margin-bottom: -20px;
}

.player-field {
    padding: 20px;
    
    position: absolute;
    bottom: 2%;
    margin-left: 15px;
}

.rules-outer-div,
.end-game-outer-div {
    height: 100vh;
    width: 100vw;
    background-color: rgba(2, 2, 2, .5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 10;
}

.rules-inner-div,
.end-game-inner-div {
    padding: 50px;
    margin: 0 auto;
    height: 80%;
    width: 50%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.end-screen-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-screen-btn {
        margin-top: 0;
        font-size: 24px;
        color: black;
        background-color: white;
        text-decoration: none;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        min-width: 250px;
        outline: 0;
        border: none;
        transition: .5s ease;
        cursor: pointer;
        text-align: center;
    }
    
    
    .end-screen-btn:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: scale(1.02);
    }