.leaderboard-div {
    width: 100%;
    min-height: 200px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 2%, rgba(161,191,219,1) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    padding: 20px;
    margin: 0 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.leaderboard-header {
    font-size: 28px;
    margin: 5px 10px;
    color: #3C3744;
}

.leaderboard-name {
    margin-left: 12px;
    margin-bottom: 10px;
}