.leaderboard-div {
    width: 60%; 
    min-height: 200px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 2%, rgba(161,191,219,1) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    padding: 3vw 1vw;
    padding-right: 2vw;
    margin: 0 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.leaderboard-header {
    font-size: 1.6vw;
    margin: 0px 0px 20px 0px;
    color: rgba(9, 12, 155, 1);
    text-align: center;
}

.leaderboard-headings {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.leaderboard-headings {
    font-size: .8vw;
}

.leaderboard-li {
    padding: 5px 20px 5px 0;
}

.leaderboard-name {
    margin: 0;
    padding-left: 10px;
    font-size: .8vw;
}

ol>li:nth-child(odd){
    background-color: rgba(8,124,160,.3)
}

.leaderboard-li-div {
    display: flex;
    justify-content: space-between;
}
