
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
.login-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/login-bg.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 82, 213, .5);
    z-index: 2;
}

#home-btn {
    display: none;
}

.main-title {
    color: white;
    z-index: 10;
    font-family: 'Bangers', cursive;
    transform: scale(1.5);
    font-size: 180px;
    letter-spacing: 1px;
}

.login-container {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 60px;
    z-index: 10;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-form {
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

label {
    font-family: 'Varela Round', sans-serif;
    color: #3C3744;
}

input {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(186, 18, 0, .77);
    padding: 10px 20px;
    min-width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .5s ease;
}

button:hover {
    background-color: rgba(186, 18, 0, 1);

}

label,
input,
button {
    margin-bottom: 10px;
}

#new-account-div {
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, .5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.new-account-content {
    padding: 20px;
    margin: 0 auto;
    height: 80%;
    width: 50%;
    background-color: rgba(161, 191, 219, 1);
    position: relative;
}

.close-btn {
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    transition: .2s ease;
}

.close-btn:hover {
    color: gray;
}

.new-account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}