body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

#home-btn {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

.login-form {
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label,
input,
button {
    margin-bottom: 10px;
}

#new-account-div {
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, .5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.new-account-content {
    padding: 20px;
    margin: 0 auto;
    height: 80%;
    width: 50%;
    background-color: white;;
    position: relative;
}

.close-btn {
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
}

.close-btn:hover {
    color: gray;
}

.new-account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}