.store-bg {
    height: 100vh;
    position: relative;
    background: url('../images/superhero-bg-blue.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 82, 213, .3);
}

.padding {
    padding: 40px 20px;
}

.store-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 2%, rgba(161,191,219,1) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    min-height: 800px;
    margin: auto;
    position: relative;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.home-link {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    text-decoration: none;
    color: black;
    transition: 2s ease;
}

.home-link:hover {
    color: rgb(69, 69, 69);
}

.store-header {
    color: rgba(9, 12, 155, 1);
    font-size: 3vw;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.user-points {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
}

.store-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-paragraph {
    max-width: 600px;
    font-size: 18px;
    text-align: center;
}

.pack-options-div {
    margin-top: 20px;
    display: flex;
}

.pack-type {
    font-size: 1vw;
}

.pack-cost {
    font-size: 24px;
    font-style: italic;
}

.deck-pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 400px;
    width: 200px;
    margin: 0 30px;
}

.deck-pack-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
    font-size: 6vw;
    min-height: 260px;
    min-width: 200px;
    height: 12vw;
    width: 8vw;
    background: url(../images/deck-bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .2s ease;
}

.deck-pack-image:hover {
    transform: scale(1.01);
    transform: rotate(1deg);
}

.buy-btn {
    margin-top: 20px;
}

.purchase-popup-outer-div {
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(2, 2, 2, .5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 10;
}

.purchase-popup-inner-div{
    padding: 50px;
    margin: 20px auto;
    min-height: 60%;
    height: auto;
    width: 70%;
    background: rgb(90,143,191);
    background: linear-gradient(360deg, rgba(90,143,191,1) 2%, rgba(161,191,219,1) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-header {
    color: white;
    font-size: 3vw;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

.purchase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.purchase-paragraph {
    color: white;
    max-width: 600px;
    font-size: 24px;
    text-align: center;
}

.new-cards-div {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.new-card {
    margin: 10px 15px;
    min-height: 300px;
    min-width: 220px;
    max-height: 240px;
    max-width: 180px;
    height: 11vw;
    width: 8vw;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 2px;
    transition: .2s ease;
}

.new-card:hover {
    transform: scale(1.01) rotate(2deg);
}

.bought-card-banner {
    padding: 10px 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background: linear-gradient(180deg, rgb(36, 36, 184) 2%, rgb(17, 64, 108) 100%, rgba(24,181,158,1) 100%, rgba(8,124,160,1) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
    border-radius: 0 0 2px 2px;
}

.bought-card-title {
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 1.3vw;
    letter-spacing: 1px;
}

.bought-card-power {
    color: black;
    background: linear-gradient(180deg, rgb(227, 221, 45) 2%, rgb(208, 193, 25) 100%);
    font-size: 1.2vw;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    position: absolute;
    top: 0;
    right: 0;
}